.profile-details {
    .user-image {
        height: auto;
        padding: 15px;
        box-shadow: 0px 0px 3px 2px #eee;

        img {
            width: 100%;
        }
    }

    .user-details {
        position: relative;
        .floating-icon {
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 25px;
        }
        .user-ratings {
            h1 {
                margin-bottom: 0;
            }
            i {
                font-size: 22px;
                color: red;
            }
        }
        .user-buttons {
            button {
                border: 1px solid red;
                border-radius: 0;
                margin-right: 10px;
                font-size: 15px;
                font-weight: 500;
                padding: 8px 20px;
                box-shadow: none;
                height: auto;
                color: red;
                margin-bottom: 10px;
                &:hover {
                    background: red;
                    color: #fff !important;
                }
            }
        }
        .user-tab {
            span {
                font-weight: 600;
            }
        }
    }
}
