.forgotPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    .formWrapper {
        width: 400px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        .header_text {
            display: flex;
            justify-content: center;
            color: #fd5e66;
            font-weight: 600;
        }
        .errorMsg {
            color: red;
        }
        .forgotPasswordInput {
            width: 100%;
            padding: 5px;
            border: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            input {
                font-size: 20px;
                border: none;
                outline: none;
                flex: 1;
                button {
                    flex-basis: 50px;
                }
            }
        }
        .validationMsg {
            display: none;
        }
    }
}
