.password_reset {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    .header_text {
        display: flex;
        justify-content: center;
        color: #fd5e66;
        font-weight: 600;
    }
    .successMsg {
        // border:1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    #password-reset {
        width: 100%;
    }
}
.pasword_reset_form {
    max-width: 300px;
    text-align: left;
}
.btn_password_reset {
    padding: 0 20px;
    border-radius: 20px;
}
.errorMsg {
    color: red;
}
